<!DOCTYPE HTML>
<!--
	YouSearch by Eric Gan
-->
<html>
	<head>
		<title>YouSearch</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">YouSearch</a></h1>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon brands fa-youtube"></span></div>
							<h2>This is YouSearch</h2>
							<p>Easily find what you want within YouTube Videos </a></p>
						</div>
						<div class="inner">
							<form method="POST">
								<label for="search">Enter a valid YouTube Video link below</label>
									<input type="text" name="search" id="search">
									<br />
									<input type="submit" name="search_button" value="Let's Go" />
							</form>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Fast, reliable, accurate</h2>
										<p>Whether it is looking for a specific item in a review, to a specific topic in a school lecture, to a specific part in your favorite podcast,
											YouSearch promises to find exactly what you are looking for in any YouTube video.</p>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Built entirely on AWS</h2>
										<p>The speed, reliability, and accuracy of YouSearch relies entirely on AWS. YouSearch initially pulls your YouTube video into a secure Amazon S3 Bucket for analysis.
											It then proceeds to utilize cutting-edge speech recognition and natural language processing techniques through Amazon Transcribe for the transcription process of the video and Amazon Comprehend for sentiment analysis.
										</p>
									</div>
								</div>
							</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>To learn more about this service or just say hi, feel free to fill out the form below.</p>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="copyright">
								<li>&copy; Eric Gan. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>